@use "sass:color"
@use "sass:math"
    
$primaryColor: #5d9469
$secondaryColor: color.change($primaryColor, $lightness: 95%)
$accentColor: color.adjust($primaryColor, $hue: 180)

$space1: 1rem
$space2: 2rem
$space3: 3rem
$space4: 4rem
$space5: 5rem

$breakpointXs: 320px // Extra small devices (phones, 320px and down)
$breakpointSm: 640px // Small devices (portrait tablets and large phones, 600px and up)
$breakpointMd: 768px // Medium devices (landscape tablets, 768px and up)
$breakpointLg: 1024px // Large devices (laptops/desktops, 992px and up)
$breakpointXl: 1280px // Extra large devices (large laptops and desktops, 1200px and up)

@mixin ratio($x, $y)
    position: relative
    &:before
        display: block
        content: ""
        width: 100%
        padding-top: math.div($x,$y) * 100%
    > div
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
    
@mixin rounded()
    border-radius: 10px

@mixin removeScrollbar()
    overflow-y: scroll
    scrollbar-width: none
    -ms-overflow-style: none
    &::-webkit-scrollbar
        display: none

*,
*::before,
*::after
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: inherit
    font-size: inherit

html
    @include removeScrollbar()
    font-family: 'Lexend', sans-serif
    font-size: 16px
    line-height: 1.8

img
    width: 100%
    height: auto
a
    text-decoration: none
    color: $primaryColor
ul
    list-style-type: none

// LAYOUT
body
    background: $secondaryColor
    padding: $space2
    main
        display: grid
        grid-template-columns: 100%
        grid-template-areas: "sound" "music"
        @media screen and ( min-width: $breakpointMd )
            grid-template-columns: 30% 40% 30% 
            grid-template-areas: ". sound ." ". music ."
            
        .sound-card
            grid-area: sound
            display: grid
            grid-template-columns: 100%     
            grid-template-areas: "sound-card__header" "sound-card__body"    
            &__header
                grid-area: sound-card__header
            &__body
                grid-area: sound-card__body
                display: grid
                grid-template-columns: 1fr 1fr 1fr
                grid-gap: $space1
                    
        .music-card
            grid-area: music
            display: grid
            grid-template-columns: 100%
            grid-template-areas: "music-card__header" "music-card__body"
            &__header
                grid-area: music-card__header
            &__body
                grid-area: music-card__body
                display: grid
                grid-template-columns: 1fr
                grid-gap: $space1
                  
.sound-card,
.music-card
    margin-bottom: $space3
    &__header
        font-size: 1.5rem
        text-align: center
        margin-bottom: $space2

.audio
    @include rounded()
    padding: $space1
    cursor: pointer

.active
    background: $accentColor
    color: white
    transition: all 0.5s ease-in-out 0s
.inactive
    background: #d1d4cf
    color: black
    transition: all 0.5s ease-in-out 0s    

.main-header
    display: flex
    flex-flow: column wrap
    justify-content: center
    align-items: center
    text-align: center
    margin-bottom: $space3
    .site
        .site__title
            font-size: 3rem
        .site__desc
            font-size: 1.2rem

.main-body
    margin-bottom: $space3

.main-footer
    display: flex
    flex-flow: column wrap
    justify-content: center
    align-items: center
    .copyrights
        display: flex
        flex-flow: column wrap
        justify-content: center
        align-items: center
        text-align: center
        padding: $space2
        &__text
            display: flex
            flex-flow: column wrap
            justify-content: center
            align-items: center
